//
//  beta.xcconfig
//  mapswipe
//
//  Created by Henry Huck on 09/05/2019.
//  Copyright © 2019 Facebook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER=org.missingmaps.mapswipe-dev
BUNDLE_DISPLAY_NAME=Mapswipe-beta
FIREBASE_CONFIG_EXTENSION=dev
