<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>122222367696-bam7tt8ecunfud9st97alr2re5i6pmtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122222367696-bam7tt8ecunfud9st97alr2re5i6pmtd</string>
	<key>API_KEY</key>
	<string>AIzaSyAulXOVx5z6O-QGbltTWCkSRGmF0TbTVA0</string>
	<key>GCM_SENDER_ID</key>
	<string>122222367696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.missingmaps.mapswipe</string>
	<key>PROJECT_ID</key>
	<string>msf-mapswipe</string>
	<key>STORAGE_BUCKET</key>
	<string>msf-mapswipe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122222367696:ios:0872190067853eba</string>
	<key>DATABASE_URL</key>
	<string>https://msf-mapswipe.firebaseio.com</string>
</dict>
</plist>