{
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": [
    "react",
    "react-native",
    "flowtype",
    "jest",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "no-console": "off",
    "indent": "off",
    "spaced-comment": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-wrap-multilines": "off",
    "react/prefer-stateless-function": [
      2, { "ignorePureComponents": true }
    ],
    "react/require-default-props": "off",
    "react/default-props-match-prop-types": "off",
    "react/static-property-placement": "off",
    "react/forbid-prop-types": [0, { "forbid": [] }],
    "react-native/no-unused-styles": 2,
    "import/extensions": [1, "never", { "svg": "always" }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  },
  "globals": {
      "Generator": true,
      "IntervalID": true,
      "$Keys": true
  },
  "env": {
    "jest": true,
    "jest/globals": true,
    "react-native/react-native": true
  }
}
